body {
  background-color: darkgray;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkgray;
  column-gap: 42px;
}


#loginBtn {
  padding: 6px 18px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background: #1d2146;
}

#loginBtn:hover {
  color: black;
  background-color: transparent;
}

.FiSearch {
  position: relative;
  left: -27px;
  top: 4px;
  color: #2874f0;
  font-size: 1.1em;
}

.BsChevronDown {
  position: relative;
  top: 4px;
}

.BsCartDash {
  font-size: 24px;
}

.BsCartDash:hover {
  color: green;
}

.sup-cart-length {
  position: relative;
  bottom: 8px;
  left: 4px;
}

.logo-img {
  cursor: pointer;
  margin-top: 2px;
  width: 100px;
}

.intpt {
  width: 500px;
  padding: 10px 10px;
  border: none;
  background: #1d2146;
}

.seller-tag {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 450;
  cursor: pointer;
}

.seller-tag:hover {
  color: black;
}

.more {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.more :hover {
  color: black;
}

.cart-para {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  margin: 10px 0 0 10px;
  width: 99%;
}

.card {
  text-align: center;
  width: 200px;
  border-radius: 2px;
}

.cardImg {
  width: 150px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.cardImg:hover {
  transform: scaleY(1.1);
}

.cart_container {
  padding: 12px;
  width: 150px;
  position: relative;
  top: -28.7rem;
  right: -76rem;
}

.cartBox {
  background: #eee;
  text-align: center;
  border-radius: 4px;
  margin-top: 2px;
}

.cart-img {
  width: 100px;
  background: transparent;
  border-radius: 8px;
}

.form-box {
  border: 1px solid grey;
  width: 400px;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 25%;
  right: 37%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.formm {
  margin-left: 34px;
  margin-top: 10px;
  text-align: center;
}

.loginhere {
  margin: 10px 0;
  cursor: pointer;
}

.input-email {
  padding: 10px 10px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: grey;
}

.input-password {
  padding: 10px 10px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: grey;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sign-up {
  font-weight: bold;
}

.close-btn {
  margin: 4px;
  background: transparent;
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.close-btn:hover {
  background: rgb(183 183 228);
}

.bucketIcon {
  font-size: 20px;
  background: white;
  padding: 0px 0px 4px 3px;
  margin: 0px 3px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #172337;
}

.footer-headings {
  color: grey;
  position: relative;
  left: 40px;
  top: 8px;
}

li {
  list-style: none;
  color: #cfc8c8;
}

.tagline {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tagName {
  color: #484787;
  font-size: 0.8em;
}

.tagColor {
  color: #484848;
  font-size: 0.9em;
}